---

---

<div class="bg-contacto">
    <div class="contacto" id="Contacto">
      <span class="title">Hola Gracias por Contactarnos!</span>
      <form class="form-contacto">
        <div class="group">
        <input placeholder="" type="text" required="">
        <label for="name">Nombre</label>
        </div>
    <div class="group">
        <input placeholder="" type="email" id="email" name="email" required="">
        <label for="email">Correo</label>
        </div>
        <div class="group">
          <input placeholder="" type="email" id="email" name="email" required="">
          <label for="email">Telefono</label>
          </div>
    <div class="group">
        <textarea placeholder="" id="comment" name="comment" rows="5" required=""></textarea>
        <label for="comment">Comentario</label>
    </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>





<style>
  .bg-contacto {
    /* background-image: url("paisaje.gif");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 600px;
    padding-top: 50px;
  }
  .contacto {
background-color: #fff;
border-radius: 10px;
padding: 20px;
margin: 0 auto;
width: 400px;
display: flex;
flex-direction: column;
}

.title {
font-size: 24px;
font-weight: 600;
text-align: center;
}

.form-contacto {
margin-top: 20px;
display: flex;
flex-direction: column;
}

.group {
position: relative;
}

.form-contacto .group label {
font-size: 14px;
color: rgb(99, 102, 102);
position: absolute;
top: -10px;
left: 10px;
background-color: #fff;
transition: all .3s ease;
}

.form-contacto .group input,
.form-contacto .group textarea {
padding: 10px;
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
outline: 0;
width: 100%;
background-color: transparent;
}

.form-contacto .group input:placeholder-shown+ label, .form-contacto .group textarea:placeholder-shown +label {
top: 10px;
background-color: transparent;
}

.form-contacto .group input:focus,
.form-contacto .group textarea:focus {
border-color: #3366cc;
}

.form-contacto .group input:focus+ label, .form-contacto .group textarea:focus +label {
top: -10px;
left: 10px;
background-color: #fff;
color: #3366cc;
font-weight: 600;
font-size: 14px;
}

.form-contacto .group textarea {
resize: none;
height: 100px;
}

.form-contacto button {
background-color: #3366cc;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px;
font-size: 16px;
cursor: pointer;
transition: all 0.3s ease;
}

.form-contacto button:hover {
background-color: #27408b;
}


</style>