---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Construccion from '../components/Construccion.astro'
import LandingHeader from '../components/LandingHeader.astro';
---

<Layout title="Welcome to KidsCode.">
	<Header />
	<main>
		<LandingHeader />
	<Construccion />
	</main>
</Layout>

<style>
main {
	width: 70%;
	margin: auto;
}
	
</style>
