---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Construccion from '../components/Construccion.astro'
---

<Layout title="Welcome to KidsCode.">
	<Header />
	<main>
	<Construccion />
	</main>
</Layout>

<style>
main {
	width: 70%;
	margin: auto;
}
	
</style>
