---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LandingHeader from '../components/LandingHeader.astro';
// import Construccion from '../components/Construccion.astro'
---

<Layout title="Welcome to KidsCode.">
	<Header />
	<main>
		<LandingHeader />
	<!-- <Construccion /> -->
	 <Footer />
	</main>
</Layout>

<style>
	* {
		max-width: 1400px;
	}
main {
	width: 90%;
	margin: auto;
}
	
</style>
