---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
// import Svg from '../components/Svg.astro';
import Beneficios from '../components/Beneficios.astro';
import Cursos from '../components/Cursos.astro';
import Preguntas from '../components/Preguntas.astro';
import Equipo from '../components/Equipo.astro';
import Footer from '../components/Footer.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Preguntas from '../components/Preguntas.astro';
---

<Layout title="Welcome to KidsCode.">
	<Header />
	<main>
	<LandingHeader />
	<!-- < Svg/> -->
	<Beneficios />
	<Cursos />
	<Equipo />
	<Preguntas />
	 <Footer />
	</main>
	</Layout>
