  <div class="beneficios">
  <div id="group" class="mb-14">
    <div id="tarjetas">
      <div id="img" alt="card1">
        <img src="card1.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Futuro</h2>
        <p>
          El impacto de la programacion cada vez es mas grande. En KidsCode
          nuestros estudiantes desarrollan su creatividad con educación
          divertida y pedagogica.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card2">
        <img src="card2.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Educación</h2>
        <p>
          Sabemos que a pesar de vivir en un mundo tecnológico en constante
          innovación y cambio, no sucede lo mismo en la educación.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card3">
        <img src="card3.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Compromiso</h2>
        <p>
          Definimos nuestra misión, visión y valores dándole personalidad a
          KidsCode, ya que para poder lograr resultados positivos las bases de
          nuestra educacion son la exigencia y la disciplina.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card4">
        <img src="card4.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Plan de estudios</h2>
        <p>
          Desarrollamos el primer Plan de Estudio buscando complementar la
          educación básica mediante el aprendizaje interactivo y dinamico para
          niños de 8 a 13 años.
        </p>
      </div>
    </div>
  </div>
  <div id="group" class="pb-14">
    <div id="tarjetas">
      <div id="img" alt="card5">
        <img src="card5.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>¿Que nos motiva?</h2>
        <p>
          Nuestra primera motivación es el desarrollo creativo promoviendo asi
          la creatividad de cada estudiante.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card6">
        <img src="card6.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Competencias</h2>
        <p>
          Nuestros desafios promueven una competencia sana entre nuestros
          estudiantes.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card7">
        <img src="card7.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Impacto tecnologico</h2>
        <p>
          El concepto de "Impacto de la programación en la sociedad" se extiende
          a abarcar no solo tecnologia digital sino tambien a las más importante
          tecnologías creadas por el hombre.
        </p>
      </div>
    </div>
    <div id="tarjetas">
      <div id="img" alt="card8">
        <img src="card8.jpeg" alt="" />
      </div>

      <div id="card">
        <h2>Orientación</h2>
        <p>
          Nuestros estudiantes reciben charlas sobre la importancia de balancear
          nuestra vida digital y real.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="beneficios-movil" id="beneficios">
  <h1 id="title">Beneficios de KidsCode</h1>
<div class="card-movil">
  <img src="card1.jpeg" alt="" />
  <p class="number-h1">Futuro</p>
  <p class="p">El impacto de la programacion cada vez es mas grande. En KidsCode
    nuestros estudiantes desarrollan su creatividad con educación
    divertida y pedagogica.</p>
  </div>
  <div class="card-movil">
    <img src="card2.jpeg" alt="" />
    <p class="number-h1">Educación</p>
    <p class="p">Sabemos que a pesar de vivir en un mundo tecnológico en constante
      innovación y cambio, no sucede lo mismo en la educación.</p>
    </div>
    <div class="card-movil">
      <img src="card3.jpeg" alt="" />
      <p class="number-h1">Compromiso</p>
      <p class="p">Definimos nuestra misión, visión y valores dándole personalidad a
        KidsCode, ya que para poder lograr resultados positivos las bases de
        nuestra educacion son la exigencia y la disciplina.</p>
      </div>
      <div class="card-movil">
        <img src="card4.jpeg" alt="" />
        <p class="number-h1">Plan de Estudios</p>
        <p class="p">Desarrollamos el primer Plan de Estudio buscando complementar la
          educación básica mediante el aprendizaje interactivo y dinamico para
          niños de 8 a 14 años.</p>
        </div>
        <div class="card-movil">
          <img src="card5.jpeg" alt="" />
          <p class="number-h1">¿Que nos motiva?</p>
          <p class="p">Nuestra primera motivación es el desarrollo creativo promoviendo asi
            la creatividad de cada estudiante.</p>
          </div>
          <div class="card-movil">
            <img src="card6.jpeg" alt="" />
            <p class="number-h1">Competencias</p>
            <p class="p">Nuestros desafios promueven una competencia sana entre nuestros
              estudiantes.</p>
            </div>
            <div class="card-movil">
              <img src="card7.jpeg" alt="" />
              <p class="number-h1">Impacto tecnológico</p>
              <p class="p">El concepto de "Impacto de la programación en la sociedad" se extiende
                a abarcar no solo tecnología digital sino tambien a las más importante
                tecnologías creadas por el hombre.</p>
              </div>
              <div class="card-movil">
                <img src="card8.jpeg" alt="" />
                <p class="number-h1">Orientación</p>
                <p class="p">Nuestros estudiantes reciben charlas sobre la importancia de balancear
                  nuestra vida digital y real.</p>
                </div>
              </div>
<style>
  @media (min-width: 1200px) {
    .beneficios-movil {
      display: none;
    }
    .beneficios {
      background: #000;
    }
  #group {
  display: flex; 
margin-left: 5rem;
margin-right: 5rem; 
justify-content: space-between; 
}

#tarjetas {
  display: flex; 
position: relative; 
padding: 1rem; 
flex-direction: column; 
gap: 0.25rem; 
justify-content: flex-start; 
align-items: flex-start; 
border-radius: 0.5rem; 
width: 24rem; 
height: 14rem; 
transition-duration: 500ms; 
box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 253, 253, 0.05); 
background: #9175f9;
}
 #img {
  position: absolute; 
right: -1rem; 
bottom: -3rem; 
border-radius: 0.5rem; 
width: 50%; 
height: 50%; 
transition-duration: 700ms; 
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
 }
 h2 {
  margin-bottom: 0.5rem; 
font-size: 1.2rem;
line-height: 2rem; 
font-weight: 700; 
color: #ffffff;
 
 }
 p {
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
color: #E5E7EB; 
 }
 }
 @media (min-width: 320px) and (max-width: 480px) {
  #title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 25px;
  }
  .beneficios {
    display: none;
  }
  .beneficios-movil {
    background-color: #9175f9;
    padding: 20px 0;
  }
  .card-movil {
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;    
  border: none;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-movil:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-movil > .image {
  width: 70px;
  height: 70px;
  transition: all 0.1s ease-in-out;
}

.card-movil > .number-h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  color: #fff;
  background-color: #9175f9;
}

.card-movil > .p {
  color: #000;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}
 }
</style>
