<div class="beneficios">
<div class="flex justify-between mx-20 my-10">
  <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
  >
    <div
      class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg
    alt="card 1"> <img src="card1.jpeg" alt="">
    </div>

    <div class="">
      <h2 class="text-2xl font-bold mb-2 text-white">Futuro</h2>
      <p class="text-gray-200 line-clamp-4 ">
        El impacto de la programacion cada vez es mas grande. En
        KidsCode nuestros estudiantes desarrollan su
        creatividad con educación divertida y pedagogica.
      </p>
    </div>
  </div>
  <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
  >
    <div
      class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
      alt="image here"
    ><img src="card2.jpeg" alt="">
    </div>

    <div class="">
      <h2 class="text-2xl font-bold mb-2 text-white">Educación</h2>
      <p class="text-gray-200 line-clamp-4 ">
        Sabemos que a pesar de vivir en un mundo tecnológico en constante
        innovación y cambio, no sucede lo mismo en la educación.
      </p>
    </div>
    
  </div>
  <div
    class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
  >
    <div
      class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
      alt="image here"
    ><img src="card3.jpeg" alt="">
    </div>

    <div class="">
      <h2 class="text-2xl font-bold mb-2 text-white">Compromiso</h2>
      <p class="text-gray-200 line-clamp-3">
        Definimos nuestra misión, visión y valores dándole personalidad a
        KidsCode, ya que para poder lograr resultados positivos las bases de
        nuestra educacion son la exigencia y la disciplina.
      </p>
    </div>
    
  </div>
  <div
    class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
  >
    <div
      class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
      alt="image here"
    ><img src="card4.jpeg" alt="">
    </div>

    <div class="">
      <h2 class="text-2xl font-bold mb-2 text-white">Plan de estudios</h2>
      <p class="text-gray-200 line-clamp-4 ">
        Desarrollamos el primer Plan de Estudio buscando complementar la
        educación básica mediante el aprendizaje interactivo y dinamico para
        niños de 8 a 13 años.
      </p>
    </div>
    
  </div>
</div>
  <div class="flex justify-between mx-20 my-20">
    <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
    >
      <div class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
        alt="image here"
      ><img src="card5.jpeg" alt="">
      </div>

      <div class="">
        <h2 class="text-2xl font-bold mb-2 text-white">¿Que nos motiva?</h2>
        <p class="text-gray-200 line-clamp-3">
          Nuestra primera motivación es el desarrollo creativo promoviendo asi
          la creatividad de cada estudiante.
        </p>
      </div>
    </div>
    <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
    >
      <div
        class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
        alt="image here"
      ><img src="card6.jpeg" alt="">
      </div>

      <div class="">
        <h2 class="text-2xl font-bold mb-2 text-white">Competencias</h2>
        <p class="text-gray-200 line-clamp-3">
          Nuestros desafios promueven una competencia sana entre nuestros
          estudiantes.
        </p>
      </div>
     
    </div>
    <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
    >
      <div
        class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
        alt="image here"
      >
      <img src="card7.jpeg" alt="">
      </div>

      <div class="">
        <h2 class="text-2xl font-bold mb-2 text-white">Impacto tecnologico</h2>
        <p class="text-gray-200 line-clamp-4 ">
          El concepto de "Impacto de la programación en la sociedad" se extiende
          a abarcar no solo tecnologia digital sino tambien a las más importante
          tecnologías creadas por el hombre.
        </p>
      </div>
    </div>
    <div class="group flex flex-col justify-start items-start gap-1 w-96 h-56 duration-500 relative rounded-lg p-4  bg-[#009cda] shadow-lg shadow-yellow-400 hover:-translate-y-2 hover:shadow-xl"
    >
      <div
        class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-12 -right-4 w-1/2 h-1/2 rounded-lg"
        alt="image here"
      ><img src="card8.jpeg" alt="">
      </div>

      <div class="">
        <h2 class="text-2xl font-bold mb-2 text-white">Orientación</h2>
        <p class="text-gray-200 line-clamp-4 ">
          Nuestros estudiantes reciben charlas sobre la importancia de balancear
          nuestra vida digital y real.
        </p>
      </div>
    </div>
  </div>
</div>