<div class="beneficios" id="Beneficios">
  <h1 id="title">Beneficios de KidsCode</h1>
  <div class="grid">
    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card1.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Futuro</h3>
        <p class="text-beneficios">
          El impacto de la programacion cada vez es mas grande. En KidsCode
          nuestros estudiantes desarrollan su creatividad con educación
          divertida y pedagogica.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card2.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Educación</h3>
        <p class="text-beneficios">
          Sabemos que a pesar de vivir en un mundo tecnológico en constante
          innovación y cambio, no sucede lo mismo en la educación.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card3.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Compromiso</h3>
        <p class="text-beneficios">
          Definimos nuestra misión, visión y valores dándole personalidad a
          KidsCode, ya que para poder lograr resultados positivos las bases de
          nuestra educacion son la exigencia y la disciplina.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card4.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Plan de estudios</h3>
        <p class="text-beneficios">
          Desarrollamos el primer Plan de Estudio buscando complementar la
          educación básica mediante el aprendizaje interactivo y dinamico para
          niños de 8 a 14 años.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card5.jpeg" /></div>
      <div class="title-beneficios">
        <h3>¿Qué nos motiva?</h3>
        <p class="text-beneficios">
          Nuestra primera motivación es el desarrollo creativo promoviendo asi
          la creatividad de cada estudiante.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card6.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Competencias</h3>
        <p class="text-beneficios">
          Nuestros desafios promueven una competencia sana entre nuestros
          estudiantes.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card7.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Impacto tecnologico</h3>
        <p class="text-beneficios">
          El concepto de "Impacto de la programación en la sociedad" se extiende
          a abarcar no solo tecnología digital sino tambien a las más importante
          tecnologías creadas por el hombre.
        </p>
      </div>
    </div>

    <div class="card-beneficios">
      <div class="img-beneficios"><img src="card8.jpeg" /></div>
      <div class="title-beneficios">
        <h3>Orientación</h3>
        <p class="text-beneficios">
          Nuestros estudiantes reciben charlas sobre la importancia de balancear
          nuestra vida digital y real.
        </p>
      </div>
    </div>
    
  </div>
</div>
<div class="beneficios-movil" id="">
      <h1 id="title">Beneficios de KidsCode</h1>
      <div class="grid-container">
        <div class="card-movil">
          <img src="card1.jpeg" alt="" />
          <p class="number-h1">Futuro</p>
          <p class="p">
            El impacto de la programacion cada vez es mas grande. En KidsCode
            nuestros estudiantes desarrollan su creatividad con educación
            divertida y pedagogica.
          </p>
        </div>
        <div class="card-movil">
          <img src="card2.jpeg" alt="" />
          <p class="number-h1">Educación</p>
          <p class="p">
            Sabemos que a pesar de vivir en un mundo tecnológico en constante
            innovación y cambio, no sucede lo mismo en la educación.
          </p>
        </div>
        <div class="card-movil">
          <img src="card3.jpeg" alt="" />
          <p class="number-h1">Compromiso</p>
          <p class="p">
            Definimos nuestra misión, visión y valores dándole personalidad a
            KidsCode, ya que para poder lograr resultados positivos las bases de
            nuestra educacion son la exigencia y la disciplina.
          </p>
        </div>
        <div class="card-movil">
          <img src="card4.jpeg" alt="Imagen card 4" />
          <p class="number-h1">Plan de Estudios</p>
          <p class="p">
            Desarrollamos el primer Plan de Estudio buscando complementar la
            educación básica mediante el aprendizaje interactivo y dinamico para
            niños de 8 a 14 años.
          </p>
        </div>
        <div class="card-movil">
          <img src="card5.jpeg" alt="" />
          <p class="number-h1">¿Que nos motiva?</p>
          <p class="p">
            Nuestra primera motivación es el desarrollo creativo promoviendo asi
            la creatividad de cada estudiante.
          </p>
        </div>
        <div class="card-movil">
          <img src="card6.jpeg" alt="" />
          <p class="number-h1">Competencias</p>
          <p class="p">
            Nuestros desafios promueven una competencia sana entre nuestros
            estudiantes.
          </p>
        </div>
        <div class="card-movil">
          <img src="card7.jpeg" alt="" />
          <p class="number-h1">Impacto tecnológico</p>
          <p class="p">
            El concepto de "Impacto de la programación en la sociedad" se
            extiende a abarcar no solo tecnología digital sino tambien a las más
            importante tecnologías creadas por el hombre.
          </p>
        </div>
        <div class="card-movil">
          <img src="card8.jpeg" alt="" />
          <p class="number-h1">Orientación</p>
          <p class="p">
            Nuestros estudiantes reciben charlas sobre la importancia de
            balancear nuestra vida digital y real.
          </p>
        </div>
      </div>
    </div>
      <style>
        @media (max-width: 1000px) {
          .beneficios-movil {
            display: none;
          }
        }

        .beneficios {
          margin: 0 auto;
        }
        .grid {
          display: grid;
          grid-template-columns: auto auto auto auto;
          justify-content: center;
        }
        .card-beneficios {
          display: flex;
          position: relative;
          flex-direction: column;
          border-radius: 0.75rem;
          width: 24rem;
          color: #374151;
          background-clip: border-box;
          background-color: #ffffff;
          box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
          margin: 1rem 1rem 4rem 1rem;
        }
        .img-beneficios {
          overflow: hidden;
          position: relative;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: -1.5rem;
          border-radius: 0.75rem;
          height: 10rem;
          color: #ffffff;
          border: 1px solid #fff;
          background-clip: border-box;
          background-color: #3b82f6;
          background-color: #2563eb;
          box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
        .title-beneficios {
          padding: 24px;
        }
        .title-beneficios h3 {
          display: block;
          margin-bottom: 0.5rem;
          font-family:
            "Roboto",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
          font-size: 1.25rem;
          line-height: 1.75rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 1.375;
          height: auto;
        }
        .beneficios-movil {
          display: none;
        }
        .beneficios {
          background-image: linear-gradient(
            to bottom,
            #d86aff,
            #cd5ff5,
            #c154eb,
            #b649e2,
            #ab3ed8
          );
        }
        #title {
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          padding: 0 0 20px 0;
          color: #fff;
          font-size: 55px;
        }
        @media (min-width: 481px) and (max-width: 899px) {
          .grid {
            grid-template-columns: auto;
          }
          .card-beneficios {
            width: 70vw;
          }
          .img-beneficios {
            width: 40%;
            height: 7rem;
            margin-top: -1.5rem;
            margin-left: auto;
            margin-right: auto;
          }
        }
        @media (min-width: 900px) and (max-width: 1199px) {
          .grid {
            grid-template-columns: auto auto;
          }
          .card-beneficios {
            width: 25rem;
          }
          .img-beneficios {
            width: 60%;
            height: 7rem;
            margin-top: -1.5rem;
            margin-left: auto;
            margin-right: auto;
          }
        }
        @media (min-width: 1200px) and (max-width: 1399px) {
          .card-beneficios {
            width: 16rem;
          }
          .img-beneficios {
            height: 7rem;
          }
        }
        @media (min-width: 1400px) and (max-width: 1649px) {
          .card-beneficios {
            width: 20rem;
          }
        }
        @media (min-width: 320px) and (max-width: 480px) {
          #title {
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            padding-top: 10px;
            color: #fff;
            font-size: 25px;
          }
          .card-beneficios {
            width: 16rem;
          }
          .img-beneficios {
            height: 7rem;
          }
          .grid {
            grid-template-columns: auto;
          }
        
        }
      </style>
 
