<section class="grid-flow-row">
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card1.jpeg')]
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      La programación ha impactado en todas las carreras profesionales. En
      KidsCode ayudamos a todos nuestros estudiantes desarrollan su creatividad
      con educación divertida y pedagogica.
    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card2.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Sabemos que a pesar de vivir en un mundo tecnológico en constante
      innovación y cambio, no sucede lo mismo en la educación.
    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card3.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Definimos nuestra misión, visión y valores dándole personalidad a
      KidsCode, ya que para poder lograr resultados positivos las bases de
      nuestra educacion son la exigencia y la disciplina.
    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card4.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Desarrollamos el primer Plan de Estudio buscando complementar la educación básica mediante el aprendizaje interactivo y dinamico para niños de 8 a 13 años.
    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card5.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Nuestra primera motivación es el desarrollo creativo promoviendo asi la creatividad de cada estudiante.

    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card6.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Nuestros desafios promueven una competencia sana entre nuestros estudiantes.


    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card7.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      El concepto de "Impacto de la programación en la sociedad" se extiende a abarcar no solo tecnologia digital sino tambien a las más importante tecnologías creadas por el hombre.

    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>
<div class="group flex flex-col justify-start items-start gap-2 w-96 h-56 duration-500 relative rounded-lg p-4 bg-purple-500 hover:-translate-y-2 hover:shadow-xl shadow-purple-400"
>
  <div
    class="absolute duration-700 shadow-md group-hover:-translate-y-4 group-hover:-translate-x-4 -bottom-10 -right-10 w-1/2 h-1/2 rounded-lg bg-[url('card8.jpeg')]"
    alt="image here"
  >
  </div>

  <div class="">
    <h2 class="text-2xl font-bold mb-2 text-white">Elegant Card</h2>
    <p class="text-gray-200 line-clamp-3">
      Nuestros estudiantes reciben charlas sobre la importancia
      de balancear nuestra vida digital y real.
    </p>
  </div>
  <button
    class="hover:bg-purple-400 bg-purple-600 text-white mt-6 rounded p-2 px-6"
  >
    Explore
  </button>
</div>



</section>